@import url("./css/title.css");
@import url("./css/search.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  font-family: "Open Sans", bold;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  grid-template:
    "head" 0.1fr
    "main" 1fr / 1fr;
  justify-content: center;

  padding: 1rem;
}

#button-container {
  grid-area: main;

  display: grid;
  grid-template:
    "button" 1fr
    "throw" 1fr
    "search" 1fr / 1fr;
  align-items: center;
  justify-content: center;

  & > #button {
    grid-area: button;

    height: 100%;
    width: 100%;
    background-color: red;
  }

  & > #throw {
    grid-area: throw;

    height: fit-content;
    width: 100%;
    height: 100%;
    background-color: blue;
  }

  & > #search {
    grid-area: search;

    height: fit-content;
    width: 100%;
    height: 100%;
    background-color: purple;
  }
}
