:root {
  font-size: 20px;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#container {
  display: grid;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: .5rem;
}